// style.sass
@import global.sass



.sectionWrap
	width: 100%
	height: 100%
	background-image: url(../../../img/sl1img1.jpg)
	background-size: cover
	.baseUl
		width: 100%
		height: 100%
		display: -webkit-flex; /* Safari */
		display: flex; /*отображает контейнер как блочный элемент*/		
		align-items: center
		flex-direction: column	

	.menuLi
		width: 100%	
		margin-bottom: 130px

	h1,
	h2,
	h3,
	h4,
	h5
		color: white

	h1
		font-size: 460%
		font-weight: 900
		margin: -2px 0 40px 0
	
	h3
		font-weight: 100


#wrapMenu
	width: 100%
	height: 100px

#baseMenu
	width: 100%
	display: -webkit-flex; /* Safari */
	display: flex; /*отображает контейнер как блочный элемент*/	
	justify-content: space-between
	a
		color: white

	a:after
		background-color: white

.menu
	display: -webkit-flex; /* Safari */
	display: flex; /*отображает контейнер как блочный элемент*/
	list-style: none;
	align-items: center

	li
		padding: 25px
		color: white
		font-size: 120%

#leftMenu
	margin-left: 5%

	div
		background-image: url(../../../svg/logo.svg)
		width: 60px
		height: 60px

	li:nth-child(1)
		padding-right: 8px

	li:nth-child(2)
		padding-left: 0


#rightMenu
	margin-right: 5%

	.registration
		border: solid 1px white
		padding: 4px 9px 5px 9px
		margin: 21px 16px 20px 16px
		button
			background-color: transparent
			border: none
			color: white
			font-weight: 100
			font-size: 100%			
		button:hover
			font-weight: 100

#section2
	width: 100%
	height: 100%
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #EFEFEF 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#EFEFEF 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#EFEFEF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

#section3
	width: 100%
	height: 100%
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #EFEFEF 0%, #e5e5e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #EFEFEF 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #EFEFEF 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	

#section4
	width: 100%
	height: 100%
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #e5e5e5 0%, #EFEFEF 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e5e5e5 0%, #EFEFEF 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e5e5e5 0%, #EFEFEF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		

#section5
	width: 100%
	height: 100%
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #EFEFEF 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #EFEFEF 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #EFEFEF 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

#section6
	width: 100%
	height: 100%	
	background-image: url(../../../img/sl6img1.jpg)	
	background-size: cover	

#section7
	width: 100%
	height: 100%	
	background-image: url(../../../img/sl7img1.jpg)	
	background-size: cover	
	background-position: center
















	

